---
# <center> **An Introduction to Data Science**
## <center> Spring 2024

### <center> **Prof. Bahram Mobasher**
### Teaching Assistant: **Sina Taamoli** | email: *sina.taamoli@email.ucr.edu*
### [Course webpage](https://github.com/sinataamoli/Applied-Data-Science)
#### Week 1 (April 4th): Introduction to Python
---

### 0) Installation
##### Useful Resources:
##### [**1. vscode**](https://code.visualstudio.com/)
##### [**2. anaconda**](https://docs.anaconda.com/free/anaconda/index.html)
##### [**3. Google colab**](https://colab.research.google.com/)

### 1) Variables

In [1]:
## Integer
a = 5
## float
b = 5.2
## boolean
c = True
## string
d = "hello"
## complex
e = 5 + 2j

In [5]:
type(a),type(b),type(c),type(d),type(e)

(int, float, bool, str, complex)

### 2) Operators

In [6]:
## Python Calculator!
3+4,5-6,7*8,1/2,4**2

(7, -1, 56, 0.5, 16)

In [7]:
# integer division
7//3

2

In [8]:
# remainder
7%3

1

In [9]:
# boolean operators
True and False

False

In [10]:
True or False

True

In [11]:
# comparison operators
5>4,15==16,14!=14

(True, False, False)

### 3) Lists

In [12]:
# create a list
f = [1, 4, 7, 8]
type(f)

list

In [14]:
# indexing in python
f[0]

(1, 4)

In [15]:
f[0:2]

[1, 4]

In [16]:
f[3]

8

In [17]:
f[-1]

8

In [18]:
# list of elements with different types
g = ['hello', 5, 1.523, 5-3j]

In [23]:
print(g[3])
print(g[3].real)
print(g[3].imag)

(5-3j)
5.0
-3.0

In [24]:
# Nested list
h = [[1,2,3],[[5,6,7],'string']]

In [25]:
print (h[1][1])

string

In [41]:
# range function
i = list(range(1, 10, 1))
print (i)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
# append
i.append(10)
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
# insert function
i.insert(1,'hello')
i

[1, 'hello', 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
i.insert(3,'hello')
i

[1, 'hello', 2, 'hello', 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
# remove function
i.remove('hello')
i

[1, 2, 'hello', 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
# del function
del i[1]
i

[1, 'hello', 3, 4, 5, 6, 7, 8, 9, 10]

### 4) Tuples

# like list but immutable (cannot be changed)

In [49]:
#cannot be changed
j = (1, 2, 3)
type(j)

tuple

In [50]:
j[1] = 8

TypeError: 'tuple' object does not support item assignment

### 5) Sets

In [51]:
# similar to sets in math
A = {1, 2, 3}
B = {3, 4, 5, 2}
type(A)

set

In [52]:
# union and intersection
A|B, A&B

({1, 2, 3, 4, 5}, {2, 3})

### 6) Dictionaries

In [57]:
# each element has key and value
k = {'parameter1':10,'parameter2':12, 'list1': [1, 3, 5]}
type(k)

dict

In [60]:
print(k['parameter1']), print(k['list1'][0])

10
1

(None, None)

In [61]:
k.items()

dict_items([('parameter1', 10), ('parameter2', 12), ('list1', [1, 3, 5])])

In [72]:
k.values()

dict_values([10, 12, [1, 3, 5]])

### 7) Control flow

In [67]:
# if statment
x, y = 9, 5
if x<y:
    print ('x is less than y')
elif y == x:
    print ('x is equal to y')
else:
    print('x is greater than y')

x is greater than y

In [68]:
# for loop
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [69]:
list_A = [1, 2, 3, 4]
len(list_A)

4

In [70]:
for i in range(0, len(list_A)):
    print(list_A[i])

1
2
3
4

In [71]:
for i in range(1,5,1):
    print(i)

1
2
3
4

In [73]:
for key,value in k.items():
    print(key,"=",value)

parameter1 = 10
parameter2 = 12
list1 = [1, 3, 5]

In [74]:
# use for loop to create a list
l = [x**2 for x in range(0,10)]

In [75]:
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [79]:
# while loop
m = 5
while m < 10:
    print(m)
    m=m+1

5
6
7
8
9

### 8) Functions

In [80]:
def function_name(input):
    output = 2 * input
    return(output)

In [81]:
function_name(2)

4

In [82]:
#factorial 5!=5*4*3*2*1 , 0!=1
def factorial(number):
    if number<0:
        factorial="factorial doesn't exist"
    elif number==0:
        factorial=1
    else:
        factorial=1
        for n in range (1,number+1):
            factorial=factorial*n
    return (factorial)

In [83]:
factorial(7)

5040

In [84]:
# time function
import time

In [119]:
time.time()

1712260296.4568698

In [123]:
def factorial(number):
    t1 = time.time()
    if number<0:
        factorial="factorial doesn't exist"
    elif number==0:
        factorial=1
    else:
        factorial=1
        for n in range (1,number+1):
            factorial=factorial*n
    t2=time.time()
    # print('It took '+str(t2-t1)+' seconds') 
    print ('It took {s} seconds'.format(s=t2-t1)) 
    return (factorial)

In [124]:
factorial(5)

It took 3.0994415283203125e-06 seconds

120